.catering-menu-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .catering-menu-container h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .catering-menu-container p {
    font-size: 1.5em;
    color: #666;
    margin-top: 20px;
  }
  
  .coming-soon-image {
    width: 300px;
    height: auto;
    margin-top: 30px;
  }
  