.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  padding-top: 50px;
}

.menu-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px;
}

.menu-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #A92224; /* Different color for titles */
}

.menu-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative; /* Added for centering third image */
}

.menu-image {
  flex: 1 1 calc(50% - 20px); /* Two images per row with some margin */
  margin: 10px;
}

.menu-image-center {
  flex: 1 1 100%; /* Full width for the third image */
  display: flex;
  justify-content: center;
}

.menu-image-center img {
  width: calc(50% - 20px); /* Half width for the third image */
}

.menu-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 100%;
  border-radius: 8px; /* Optional: add some border radius for better appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for depth */
}

@media (min-width: 1024px) {
  .menu-image {
    flex: 1 1 calc(33.333% - 20px); /* Three images per row for larger screens */
  }
  .menu-image-center img {
    width: 100%; /* Full width for the third image on larger screens */
  }
}

@media (max-width: 768px) {
  .menu-images {
    flex-direction: column;
  }
  .menu-image, .menu-image-center {
    flex: 1 1 100%; /* Single image per row on mobile */
  }
  .menu-image-center img {
    width: 100%; /* Full width for the third image on mobile */
  }
}

.footer-container {
  background-color: #f9f9f9;
  padding-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

.map-container {
  width: 50%;
  height: 400px;
}

@media (max-width: 768px) {
  .map-container {
    width: 100%;
    height: 300px;
  }
}

.restaurant-info {
  width: 50%;
  padding: 20px;
  height: 400px;
  background-color: #A92224;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .restaurant-info {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.restaurant-info h2 {
  margin-top: 0;
}

.footer-details {
  text-align: center;
  color: #555;
  margin-top: 20px;
}

.footer-details p {
  margin: 0;
  font-size: 14px;
}
