<nav class="navbar navbar-expand-lg navbar-light fixed-top" #navbar>
  <div class="container-fluid">
    <button class="navbar-toggler order-1 mt-4" type="button" (click)="toggleMobileMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end order-1" id="navbarScrollLeft">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" (click)="closeMenu()">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" (click)="closeMenu()">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
        </li>
      </ul>
    </div>
    <!-- <a *ngIf="!isMobile" class="navbar-brand mx-auto order-2" routerLink="/home">
      <img src="assets/calendar-cutout.png" id="logo" alt="Logo Description" />
    </a> -->
    <div class="collapse navbar-collapse justify-content-start order-3 rs" id="navbarScrollRight">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" (click)="closeMenu()">
          <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
        </li>
        <li class="nav-item" (click)="closeMenu()">
          <a class="nav-link" routerLink="/catering" routerLinkActive="active">Catering</a>
        </li>
      </ul>
    </div>
    <div class="slide-in-menu" [class.active]="mobileMenuActive">
      <div class="slide-in-menu-content">
        <button class="close-button" (click)="closeMenu()">×</button>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" (click)="closeMenu()">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item" (click)="closeMenu()">
            <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
          </li>
          <li class="nav-item" (click)="closeMenu()">
            <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
          </li>
          <li class="nav-item" (click)="closeMenu()">
            <a class="nav-link" routerLink="/catering" routerLinkActive="active">Catering</a>
          </li>
        </ul>
        <div class="container slide-footer text-center">
          <img src="assets/calendar-cutout.png" id="logo" height="100" alt="Logo Description" />
          <p class="text-dark mt-3">11 Van Wyck Rd, Blauvelt, NY 10913</p>
          <section class="m-4">
            <a target="_blank" class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/TuaCocinaMexicanRestaurant/" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook"></i></a>
          </section>
        </div>
      </div>
    </div>
  </div>
</nav>
