<div class="banner">
  <div class="banner-sections">
    <div class="banner-section"></div>
    <div class="banner-section">
      <p>Mon - Sun: 11am - 11pm</p>
    </div>
    <div class="banner-section">
      <p>11 Van Wyck Rd,</p>
      <p>Blauvelt, NY 10913</p>
      <p>(845) 848-2234</p>
    </div>
    <div class="banner-section"></div>
  </div>
  

</div>


<div class="gallery">
  <img src="assets/mango-marg.jpg" alt="Gallery Image 1">
  <img src="assets/espresso-martini.jpg" alt="Gallery Image 1">
  <img src="assets/jalapeno-marg.jpg" alt="Gallery Image 1">
  <img src="assets/food1.jpg" alt="Gallery Image 2">
  <img src="assets/food2.jpg" alt="Gallery Image 3">
  <img src="assets/food5.jpg" alt="Gallery Image 4">
  <img src="assets/food4.jpg" alt="Gallery Image 6">
  <img src="assets/art2.jpg" alt="Gallery Image 5">
</div>

<div class="banner2">
  <div class="banner-sections2">
    <h2 class="banner-title">High Quality Ingredients, Low Prices!</h2>
  </div>
</div>

<div class="reviews-section">
  <h2 class="reviews-title">See What Our Customers Have To Say!</h2>
  <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide>
      <div class="review">
        <h3 class="review-author">Ashish Patel <span class="stars">★★★★★</span></h3>
        <p class="review-text">The food and service are excellent.  I have to give this restaurant kudos for maintaining their quality.  Many restaurants are force to switch suppliers as cost have gone up.  But, Tua Cocina still continues to use the finest ingredients and supplies to make their food.</p>
      </div>
      <div class="review">
        <h3 class="review-author">Tom Woods <span class="stars">★★★★★</span></h3>
        <p class="review-text">Great little secret spot for dinner!  Super friendly staff, and the food is fantastic! The only problem I have, is that I can never finish my meal because the portions are so large!</p>
      </div>
      <div class="review">
        <h3 class="review-author">Natalia Hayden <span class="stars">★★★★★</span></h3>
        <p class="review-text">We love this place! Super authentic Mexican cuisine where you always feel welcome! The people here are so friendly and helpful. Margaritas are so good!! I got the spicy and my husband got the classic.
          Food was fantastic! We loved the enchiladas mole poblano, the cheese enchilada, bean burrito, and chicken flautas! Not to mention the starter mini cheese quesadilla, and dessert banana chimichanga. Everything was super fresh and absolutely delicious.
          We will definitely be back!! Muchas Gracias!!</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="review">
        <h3 class="review-author">Moises Quezada <span class="stars">★★★★★</span></h3>
        <p class="review-text">Great dinning experience! Will be back and also recommend. The food is great and the customer service is excellent!</p>
      </div>
      <div class="review">
        <h3 class="review-author">lisa diaz <span class="stars">★★★★★</span></h3>
        <p class="review-text">Excellent service, the food is amazing!!! They give us tequila for free and dessert. The Queso fundido was delicious. I recommend it 100%. I love it!!</p>
      </div>
      <div class="review">
        <h3 class="review-author">McKenna Hiller <span class="stars">★★★★★</span></h3>
        <p class="review-text">Huge foodie here: We regularly (& happily) drive 45 minutes each direction because the food, service and humans here are unmatched. Food is fresh, flavorful, and we have never tasted anything that wasn’t absolutely delicious. Shrimp fajitas are insane, salsa is delicious, chimichangas are fried to perfection and music is always a blast. Walls are hand painted with beautiful murals. Perfect location for a fun date night or family celebration/dinner. Prices are also so affordable! 10/10 recommend. You won’t regret it 😊💃</p>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="footer-container">
  <h2 class="reviews-title text-center">Come Visit Us Today!</h2>
  <div class="w-full text-center">
    <img class="front" src="../../assets/guitars-cross.png" alt="">
  </div>

  <div class="footer-content">
    <div class="map-container">
      <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.6337642468698!2d-73.97423782354807!3d41.05513741653756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e910a076ffb7%3A0xd0ebbee84d9ef4f7!2sTua%20Cocina!5e0!3m2!1sen!2sus!4v1722730801767!5m2!1sen!2sus">
      </iframe>
    </div>
    <div class="restaurant-info text-center">
      <h2>Tua Mexican Restaurant</h2>
      <p>Address: 11 Van Wyck Rd, Blauvelt, NY 10913 </p>
      <p>Phone: (845) 848-2234</p>
      <h4>Hours:</h4>
      <p>Mon - Sun: 11am - 11pm</p>
    </div>
  </div>
</div>